<h1 class="text-center">
    Employee dashboard
</h1>

<div class="w-100 px-5">

    <% if(locals.user) { %>
        <p>Employee Name: <%= user.name %></p>
        
        <p>Employee Email: <%= user.email %></p>
    <% } %>

</div>
 
<div class="w-100 d-flex px-5 justify-content-between align-items-center">

    <div class="w-50">
        Reviews
    </div>


    <div class="w-50">
        Feedback
    </div>

</div>